#CinzaHead {

    background-color: #F3F3F3;
    margin: 0;
    padding: 0;   
      
}
#CinzaHead ul li {
    display: inline;
}

#SitesExternos ul{
    list-style: none; 
    float: left;
    text-align: justify;
    width: 100%;
}

#SitesExternos ul li a {
    padding: 2px 5px;
    display: inline-block;

}

#SitesUsuarios ul{
    
    float: right;
    padding: 2px 5px;
    text-align: justify;
    width: 100%;
    
}

#SitesUsuarios ul li {
    display: inline;
}
#SitesUsuarios ul li a {
    padding: 2px 5px;
    display: inline-block;

}

#SubMenuStUsuarios {
    display: list-item;
    
}


#CinzaHead a#globo{
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}
#CinzaHead a#g1{
    text-decoration: none;
    color: #b20000;
    font-weight: bolder;

}
#CinzaHead a#globoesporte{
    text-decoration: none;
    color: #5b831e;
    font-weight: bolder;

}
#CinzaHead a#gshow {
    text-decoration: none;
    color: #ff884e;
    font-weight: bolder;
  
}
#CinzaHead a#videos {
    text-decoration: none;
    color: #225cef;
    font-weight: bolder;

} 

#VerdeHead{
    background-color: #3B9C01;
    margin: 0;
    padding: 0;

}

h1 {

}
